@using MicroStore.Client.PublicWeb.Areas.Administration.Models.Geographic;
@model CountryListModel
<div>
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-md-6">
                    <h1 class="m-0">Countries</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <a asp-action="Create" class="btn btn-info">
                                <i class="fas fa-plus-square mr-1"></i>Create Country
                            </a>

                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <abp-card>
                <abp-card-body>
                    <abp-table id="CountryTable"></abp-table>
                </abp-card-body>
            </abp-card>
        </div>
    </section>
</div>

@section Scripts{
    <script>
        $(function () {
            $("#CountryTable").DataTable(
                abp.libs.datatables.normalizeConfiguration({
                    ajax: {
                        type: "POST"
                    },
                    processing: true,
                    columnDefs: [
                        {
                            title: "@(Html.NameFor(x=> x.Data.First().Name))",
                            data: "name"
                        },
                        {
                            title: "@(Html.NameFor(x => x.Data.First().TwoLetterIsoCode))",
                            data: "twoLetterIsoCode"
                        }
                        , {
                            title: "@(Html.NameFor(x => x.Data.First().ThreeLetterIsoCode))",
                            data: "threeLetterIsoCode"
                        },
                        {
                            title: "@(Html.NameFor(x => x.Data.First().NumericIsoCode))",
                            data: "numericIsoCode"
                        },

                        {
                            title: 'Actions',
                            rowAction: {
                                items:
                                    [
                                        {
                                            text: "Edit",
                                            action: function (data) {
                                                window.location.href = `Country/Edit/${data.record.id}`
                                            }
                                        },
                                        {
                                            text: 'Report',
                                            action: function (data) {
                                                window.location.href = `Country/SalesReport?code=${data.record.twoLetterIsoCode}`
                                            }
                                        }
                                    ]
                            }
                        },
                    ]
                })
            );
        })
    </script>
}

