@using MicroStore.Client.PublicWeb.Bundling
@using System.Globalization
@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared.Bundling
<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - MicroStore.Client.PublicWeb</title>

     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback" />
     <abp-style-bundle name="@StandardBundles.Styles.Global" />
</head>

<body class="hold-transition skin-blue sidebar-mini">

    <div class="wrapper">
        @{
            await Html.RenderPartialAsync("_Header");
        }


        
        @await Component.InvokeAsync("Sidebar");

        @RenderBody();
    </div>

    <abp-script-bundle name="@StandardBundles.Styles.Global" />
       <script src="~/Abp/ApplicationConfigurationScript"></script>
    @await RenderSectionAsync("Scripts", required: false)

    @{ await Html.RenderPartialAsync("_NotificationView"); }


  
</body>

</html>
