@if (NotificationManager.HasNotifications())
{

    foreach (var notification in NotificationManager.GetNotifications())
    {
        var alertType = notification.Type switch
        {
            NotificationType.Warning => "alert-warning",
            NotificationType.Error => "alert-error",
            NotificationType.Success => "alert-success",
            _ => "alert-info"
        };

        <div class="alert alertType alert-dismissible fade show" role="alert">
            <p>@notification.Message</p>
        </div>
    }

}
