@model MicroStore.IdentityProvider.Host.Areas.BackEnd.Models.Roles.RoleListModel
<div class="card card-default">
    <div class="card-body">

        <table id="RolesGrid" class="table table-hover table-striped table-bordered dataTable no-footer" width="100%">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(x=> x.Data.First().Name)</th>
                    <th>@Html.DisplayNameFor(x=> x.Data.First().Description)</th>
                    <th></th>
                </tr>
            </thead>
    
        </table>
    </div>
</div>
