@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@model MicroStore.IdentityProvider.Host.Areas.BackEnd.Models.PropertyUIModel

<form asp-action="UpdateProperty">
    <partial name="IdentityServer/_Property.Modal" model = "Model" />
</form>