@page  
@using MicroStore.Client.PublicWeb.Pages.Profile;
@using MicroStore.ShoppingGateway.ClinetSdk.Services.Profiling;
@model EditModel
@{
    ViewData["Title"] = "Edit Profile";
    ViewData["ContainerTitle"] = "Edit Profile";
    ViewData["BreadCrumb.IsMainPage"] = false;
    ViewData["BreadCrumb.Title"] = "Edit Profile";
    ViewData["BreadCrumb.Page"] = "Edit Profile";
}


<div class="container mt-3">
    <form class="theme-form" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-sm-12 mb-3 mt-3">
                <h5 class="mb-3">PERSONAL DETAIL</h5>
                <div class="mt-3 mb-3">
                    @Html.ValidationSummary()
                </div>
                <div class="form-row row">
                    <div class="col-md-6">
                        <abp-input asp-for="Profile.FirstName"></abp-input>
                    </div>
                    <div class="col-md-6">
                        <abp-input asp-for="Profile.LastName"></abp-input>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label" for="Profile_LastName">LastName</label>
                            <input type="text" class="form-control" id="@Html.IdFor(x=> x.Profile.Phone)" value="@Model.Profile.Phone">
                            <span class="text-danger" asp-validation-for="Profile.Phone"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                           <label class="form-label" asp-for="Profile.BirthDate"></label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                </div>
                            <input type="text" asp-for="Profile.BirthDate" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask="" inputmode="numeric">
                            </div>
                            <span class="text-danger" asp-validation-for="Profile.BirthDate" />
                    </div>
                    <div class="col-md-6">
                        <abp-select asp-for="Profile.Gender" asp-items="@Html.GetEnumSelectList<Gender>()"></abp-select>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <abp-input asp-for="Profile.Avatar"></abp-input>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 mt-12 mb-12">
                <button class="btn btn-sm btn-solid" type="submit">Save Profile</button>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <script>

        $(document).ready(function () {

            $("#Profile_BirthDate").inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })

            const phoneinput = document.querySelector("#Profile_Phone");

            var iti = window.intlTelInput(phoneinput, {
                hiddenInput: "Profile.Phone",
                utilsScript: "/libs/intl-tel-input/build/js/utils.js"
            })

            $(phoneinput).on('change', function () {

                if (iti.getNumber()) {
                    iti.setNumber(intlTelInputUtils.formatNumber(iti.getNumber(), null, intlTelInputUtils.numberFormat.INTERNATIONAL));
                }
            })
        })
    </script>
}

