@model MicroStore.IdentityProvider.Identity.Domain.Shared.Models.UserModel
<abp-card>
    <abp-card-header>
        <abp-card-title>
            <i class="fas fa-info mr-1 text-lightblue"></i> User Password</p>
        </abp-card-title>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus text-lg"></i></button>
        </div>
    </abp-card-header>

    <abp-card-body>
        <abp-row class="form-group mb-3">
            <abp-column size-sm="_3" class="text-right">
                <micro-label asp-for="@Model.Password"></micro-label>
            </abp-column>
            <abp-column class="form-group mb-3">
                <input asp-for="@Model.Password" id="name" class="form-control" />
                <span class="text-danger" asp-validation-for="@Model.Password">  </span>
              
            </abp-column>
        </abp-row>
    </abp-card-body>
</abp-card>
