@model  EditUserModel
@{
    ViewData["Title"] = "Edit User / Backend";
    UIMenuNavigationManager.SetCurrentMenu(IdentityMenuStandard.UserMenu.Edit);
}
<div class="content-wrapper mr-2">
    <form method="post" asp-action="Edit">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x=> x.Id)
        <div class="content-header">
            <div class="container-fluid">
                <abp-row class="mb-2">
                    <abp-column size-sm="_6">
                        <h1 class="m-0">Edit User - @Model.Email</h1>
                    </abp-column>
                    <abp-column size-sm="_6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item">
                                <abp-button button-type="Info" type="submit">
                                    <i class="fas fa-plus-square mr-1"></i> Save                                
                                </abp-button>
                            </li>
                        </ol>
                    </abp-column>
                </abp-row>
            </div>
        </div>
        <div class="content">
            <div class="container-fluid">
                <div class="text-center mb-3">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                </div>
                <partial name="_CreateOrUpdate.Info" model="Model" />
                <partial name="_CreateOrUpdate.Roles" model="Model" />
                <partial name="_CreateOrUpdate.Password" model="Model" />

            </div>
        </div>
    </form>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {


            $("#RoleSelect").bootstrapDualListbox()
        })
    </script>
}