@using MicroStore.Client.PublicWeb.Areas.Administration.Navigation
@using MicroStore.ShoppingGateway.ClinetSdk.Entities.Shipping
@model MicroStore.Client.PublicWeb.Areas.Administration.Models.Shipments.ShipmentAggregateVM
@{
    UIMenuNavigationManager.SetCurrentMenu(BackEndMenusStandard.Shipment.View);
}

<div>
    <div class="content-header clearfix p-3">
        <div class=" float-left">
            <h1>Shipment details </h1>
        </div>
        <div class="float-right ml-3">
            @if (Model.Status == ShipmentStatus.Created)
            {
                <a asp-action="Fullfill" asp-route-id="@Model.Id" class="btn btn-info ml-3">
                    <i class="fas fa-plus-square mr-2"></i> Full Fill
                </a>
            }
            else if (Model.Status == ShipmentStatus.Fullfilled)
            {
                <a asp-action="PurshaseLabel" asp-route-id="@Model.Id" class="btn btn-info ml-3">
                    <i class="fas fa-plus-square mr-2"></i> Purshase Label
                </a>
            }

        </div>
    </div>
    <div class="content">
        <div class="container-fluid">
            <div class="cards clearfix">
                <partial name="_Shipment.Info" model="Model" />
                <partial name="_Customer.Info" model="Model" />
                <partial name="_Shipment.Address" model="Model" />
                <partial name="Grids/_Grids.ShipmentItems" model="Model" />

            </div>
        </div>
    </div>
</div>
