@using MicroStore.Client.PublicWeb.Areas.Administration.Navigation
@model MicroStore.Client.PublicWeb.Areas.Administration.Models.Shipments.ShipmentSearchModel
@{
    UIMenuNavigationManager.SetCurrentMenu(BackEndMenusStandard.Shipment.Index);
}
<div>
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Shipments</h1>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <partial name="_Shipment.AdvancedSearch" model="Model" />
            <partial name="Grids/_Grid.Shipments" />
        </div>
    </section>
</div>

@section Scripts{
    <script>
        $(document).ready(function(){
            var shipmentTable = $("#ShipmentTable").DataTable(
                abp.libs.datatables.normalizeConfiguration({
                    ajax: {
                        method: "POST",
                        data: function (data) {
                            data.startDate = $("#StartDate").val();
                            data.endDate = $("#EndDate").val();
                            data.status = $("#Status").val();
                            data.country = $("#Country").val();
                            data.trackingNumber = $("#TrackingNumber").val();
                            data.orderNumber = $("#OrderNumber").val();
                        }
                    },
                    processing: true,
                    paging: true,
                    serverSide: true,
                    searching: false,
                    columnDefs: [
                        {
                            title: "Order Number",
                            data: "orderNumber",
                            render: function (data, type, row) {
                                const orderNumber = row.orderNumber;

                                const arr = []

                                for (var i = 0; i < orderNumber.length; i++) {
                                    if (i % 3 == 0) {
                                        arr.push(orderNumber.substring(i, i + 3))
                                    }
                                }

                                return arr.join(" ")
                            }
                        },
                        {
                            title: "User Id",
                            data: "userId",
                            orderable: false,
                        },
                        {
                            title: "Status",
                            data: "status",
                            orderable: false,
                        },
                        {
                            title: "Created At",
                            render: function(data,type, row){
                                const date = new Date(row.createdAt);
                                return date.toLocaleDateString("en-US", {
                                    minute: "numeric",
                                    hour: "numeric",
                                    day: "numeric",
                                    month: "numeric",
                                    year: "numeric"
                                });
                            }
                        },

                        {
                            orderable: false,
                            title: "Action",
                            render: function (data, type, row) {
                                return `<a href="Shipment/Details/${row.id}" class="btn btn-info">View</a>`
                            }

                        }
                    ]

                })
            );

            $("#Status").select2();

            $("#Country").select2();


            $("#AdvancedSearchForm").on('submit', function (evt) {
                evt.preventDefault();
                shipmentTable.ajax.reload();
            });
        })
    </script>
}