@using MicroStore.Client.PublicWeb.Areas.Administration.Navigation
@model MicroStore.Client.PublicWeb.Areas.Administration.Models.Shipments.ShipmentSearchModel
@{
    UIMenuNavigationManager.SetCurrentMenu(BackEndMenusStandard.ShipmentMenus.Index);
}
<div>
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Shipments</h1>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <partial name="_Shipment.AdvancedSearch" model="Model" />
            <partial name="Grids/_Grid.Shipments" />
        </div>
    </section>
</div>

@section Scripts{
    <abp-script src="/js/BackEnd/Shipment/index.js"></abp-script>
}