<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - MicroStore.Client.PublicWeb</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" type="text/css">

    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="~/lib/select2/css/select2.min.css" />
    <link rel="stylesheet" href="~/lib/admin-lte/css/adminlte.min.css" type="text/css"/>
    <link rel="stylesheet" href="~/lib/datatables/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="~/lib/sweetalert2/sweetalert2.min.css" />

</head>

<body class="hold-transition skin-blue sidebar-mini">

    <div class="wrapper">
        @{
            await Html.RenderPartialAsync("_Header");
        }


        
        @await Component.InvokeAsync("Sidebar");

        @RenderBody();
    </div>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/select2/js/select2.full.min.js"></script>
    <script src="~/lib/admin-lte/js/adminlte.js"></script>
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"> </script>
    <script src="~/lib/sweetalert2/sweetalert2.all.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

    @*@{ await Html.RenderPartialAsync("_NotificationView"); }*@

    <script>
   
        
    </script>
  
</body>

</html>
