@using MicroStore.Client.PublicWeb.Areas.Administration.Navigation
@model PublicWeb.Areas.Administration.Models.Catalog.Manufacturers.ManufacturerModel

@{
    UIMenuNavigationManager.SetCurrentMenu(BackEndMenusStandard.Manufacturer.Create);
}

<div>
    <form method="post" asp-action="Create">
        @Html.AntiForgeryToken()
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Create manufacturer</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item">
                                <button class="btn btn-info" type="submit">
                                    <i class="fas
                                fa-plus-square mr-1"></i> Save
                                </button>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-danger">
            @Html.ValidationSummary()
        </div>
        <div class="content">
            <div class="container-fluid">

                @{
                    await Html.RenderPartialAsync("_CreateOrUpdate.Info", Model);
                }

            </div>
        </div>
    </form>

</div>