@using MicroStore.Client.PublicWeb.Areas.Administration.Components.BestSellerWidget;
@using MicroStore.Client.PublicWeb.Areas.Administration.Components.LatestOrderWidget;
@using MicroStore.Client.PublicWeb.Areas.Administration.Components.OrderSalesWidget;
@using MicroStore.Client.PublicWeb.Areas.Administration.Components.OrderSummaryReportWidget;
<div class="content-wrapper" style="min-height: 259px;">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Dashboard</h1>
                </div>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    @await Component.InvokeAsync(typeof(OrderSalesWidgetViewComponent))
                </div>
                <div class="col-md-6">
                    @await Component.InvokeAsync(typeof(OrderSummaryReportWidgetViewComponent))
                </div>
                <div class="col-md-12">
                    @await Component.InvokeAsync(typeof(BestSellerWidgetViewComponent))
                </div>
                <div class="col-md-12">
                    @await Component.InvokeAsync(typeof(LatestOrderWidgetViewComponent))
                </div>

            </div>
        </div>
    </section>
</div>
