@{
   
    ViewData["Title"] = "Dashboard";
    UIMenuNavigationManager.SetCurrentMenu("MicroStore.BackEnd.Dashboard");

}
<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid ">
            <h5 class="text-center">Welcom To Identity Managment Dashboard</h5>
        </div>
    </section>
</div>
