@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared.Bundling;

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@*@ViewBag["Title"]*@</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback" />
    <abp-style-bundle name="@StandardBundles.Styles.Global" />
    @RenderSection("Styles")
</head>

<body class="layout-top-nav">

    <div class="wrapper">
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__shake" src="dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
        </div>

        @await Html.PartialAsync("_Navbar")

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-12">
                            <h1 class="text-center mt-3 mb-3">Our Products</h1>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content">
                <div class="container">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    <abp-script-bundle name="@StandardBundles.Styles.Global" />
    <script src="~/Abp/ApplicationConfigurationScript"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>