@page
@using MicroStore.Client.PublicWeb.Components.Basket
@model CartModel
@{
    ViewData["Title"] = "Cart";
    ViewData["ContainerTitle"] = "Basket";
}

<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>cart</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-page="Home">Home</a></li>
                        <li class="breadcrumb-item active">cart</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
@await Component.InvokeAsync(typeof(BasketWidgetViewComponent))

