@page
@using MicroStore.Client.PublicWeb.Components.ProductFilterWidget;
@using MicroStore.Client.PublicWeb.Components.ProductListWidget
@model ProductsModel
@{
    ViewData["Title"] = "Products page";
}
<section class="section-b-space addtocart_count ratio_asos">
    <div class="collection-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 collection-filter">
                    @await Component.InvokeAsync(typeof(ProductFilterWidgetViewComponent), new {
                        category = Model.Category,
                        manufacturer = Model.Manufacturer,
                    })
                </div>
                <div class="collection-content col">
                    <div class="page-main-content">
                        <div class="row">
                            <div class="col-sm-12">
                                @await Component.InvokeAsync(typeof(ProductListWidgetViewComponent),new{
                                    category = Model.Category,
                                    manufacturer = Model.Manufacturer,
                                    currentPage = Model.CurrentPage,
                                    minPrice = Model.MinPrice,
                                    maxPrice = Model.MaxPrice
                                })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>