.theme-pagination {
    padding: 0;
    overflow: hidden
}

.theme-paggination .row {
}

.theme-paggination .pagination .page-item {
    border-radius: 0;
}

    .theme-paggination .pagination .page-item a {
        padding: 18px;
        color: #777;
    }

    .theme-paggination .pagination .page-item span {
        padding: 18px;
        color: #777;
    }


.theme-paggination .row > :first-child {
    padding: 18px;
    margin: 0px !imporatant;
}

.theme-paggination .pagination .page-item active {
    color: var(--theme-color);
    background-color: #fff;
    border-color: #ddd;
}

.theme-paggination .pagination .page-item.active span {
    color: var(--theme-color);
    background-color: #fff;
    border-color: #ddd;
    padding: 18px;
}
