@model MicroStore.Client.PublicWeb.Areas.Administration.Models.Catalog.Categories.CategoryListModel

<div class="card card-default">
    <div class="card-body">

        <table id="categories-grid" class="table table-hover table-striped table-bordered dataTable no-footer" width="100%">
            <thead>
                <tr>

                    <th>@Html.DisplayNameFor(x=> x.Data.First().Name)</th>
                    <th>@Html.DisplayNameFor(x=> x.Data.First().Name)</th>
                    <th></th>
                </tr>
            </thead>
    
        </table>
    </div>
</div>

