@using MicroStore.Client.PublicWeb.Components.CategoryWidget
@model CategoryWidgetModel
<div id="mySidenav" class="sidenav" style="overflow:hidden">
    <a href="javascript:void(0)" class="sidebar-overlay" onclick="closeNav()"></a>
    <nav>
        <div onclick="closeNav()">
            <div class="sidebar-back text-start">
                <i class="fa fa-angle-left pe-2"
                   aria-hidden="true"></i> Back
            </div>
        </div>
        @if (Model.Categories.Count > 0)
        {
            <ul id="sub-menu" class="sm pixelstrap sm-vertical">
                @foreach (var category in Model.Categories)
                {
                    <li>
                        <a asp-page="/Products/Index" asp-route-category="@category.Name">@category.Name</a>
                    </li>
                }
            </ul>
        }
        <div class="sidebar-back border-top " style="margin:0 !important; position:absolute; bottom:0; width:100%!important">
            <a class="text-dark" asp-page="/Products/Index">All Products</a>
        </div>
    </nav>
</div>