@model MicroStore.IdentityProvider.Identity.Domain.Shared.Models.RoleModel
@{

    ViewData["Title"] = "Create Role / BackEnd";
    UIMenuNavigationManager.SetCurrentMenu(IdentityMenuStandard.RoleMenu.Create);
    
}
<div class="content-wrapper mr-2">
    <form method="post" asp-action="Create">
        @Html.AntiForgeryToken()
        <div class="content-header">
            <div class="container-fluid">
                <abp-row class="mb-2">
                    <abp-column size-sm="_6">
                        <h1 class="m-0">Create Role</h1>
                    </abp-column>
                    <abp-column size-sm="_6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item">
                                <abp-button button-type="Info" type="submit">
                                    <i class="fas
                                fa-plus-square mr-1"></i> Save
                                </abp-button>
                            </li>
                        </ol>
                    </abp-column>
                </abp-row>
            </div>
        </div>
        <div class="content">
            <div class="container-fluid">
                @{
                    await Html.RenderPartialAsync("_CreateOrUpdate.Role", Model);
                }

            </div>
        </div>
    </form>

</div>