@model  RoleSearchModel
@{
    ViewData["Title"] = "Roles / BackEnd";
    UIMenuNavigationManager.SetCurrentMenu(IdentityMenuStandard.RoleMenu.Index);
}
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <abp-row class="mb-2">
                <abp-column size-sm="_6">
                    <h1 class="m-0">Roles</h1>
                </abp-column>
                <abp-column size-sm="_6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <a asp-action="Create" class="btn btn-info">
                                <i class="fas fa-plus-square mr-1"></i>
                                Create Role
                            </a>
                        </li>
                    </ol>
                </abp-column>
            </abp-row>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <partial name="_Role.AdvacnedSearch" model="Model" />
            <partial name="Grids/_Grid.Roles" model="Model" />     
        </div>
    </section>
</div>

@section Scripts{
    <script src="~/backend/js/role/index.js"></script>
}
