@model MicroStore.IdentityProvider.IdentityServer.Web.Areas.BackEnd.Models.PropertyUIModel
<form asp-action="UpdateProperty">
    <partial name="IdentityServer/_Property.Modal" model = "Model" />
</form>