@model MicroStore.ShoppingGateway.ClinetSdk.Entities.Cart.BasketAggregate
<div id="cart_side" class=" add_to_cart right">
    <a href="javascript:void(0)" class="overlay" onclick="closeCart()"></a>
    <div class="cart-inner">
        <div class="cart_top">
            <h3>my cart</h3>
            <div class="close-cart">
                <a href="javascript:void(0)" onclick="closeCart()">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="cart_media">
            <ul class="cart_product">
                @if (Model.Items.Count > 0)
                {
                    @foreach (var item in Model.Items)
                    {
                        var name = item.Name;
                        var price = item.Price.ToString("0.00");
                        var quantity = item.Quantity;
                        var image = item.Thumbnail ?? "/user-content/no-image.png";
                        <li class="cart-item-wrapper" data-product-id="@item.ProductId">
                            <div class="media">
                                <a href="#">
                                    <img alt="" class="me-3" src="@image">
                                </a>
                                <div class="media-body">
                                    <a href="#">
                                        <h4>@item.Name</h4>
                                    </a>
                                    <h4>
                                        <span>@string.Format("{0} x ${1}",quantity, price) </span>
                                    </h4>
                                </div>
                            </div>
                            <div class="close-circle">
                                <a href="#" class="cart-widget-remove">
                                    <i class="ti-trash "></i>
                                </a>
                            </div>
                        </li>
                    }
                }
                else
                {
                    <li>
                        <div class="media">
                            <div class="media-body text-center">
                                <a href="#">
                                    <h4>Your Cart is empty</h4>
                                </a>
                            </div>
                        </div>
                    </li>
                }

            </ul>
            @if (Model.Items.Count > 0)
            {
                var subTotal = Model?.Items.Sum(item => item.Quantity * item.Price) ?? 0;
                <ul class="cart_total">
                    <li>
                        <div class="total">
                            <h5>subtotal : <span>$@subTotal.ToString("0.00")</span></h5>
                        </div>
                    </li>
                    <li>
                        <div class="buttons">
                            <a href="/Cart" class="btn btn-solid btn-xs view-cart">view cart</a>
                            <a href="/Checkout" class="btn btn-solid btn-xs checkout">checkout</a>
                        </div>
                    </li>
                </ul>
            }

        </div>
    </div>
</div>