@model MicroStore.IdentityProvider.IdentityServer.Web.Areas.BackEnd.Models.Clients.CreateOrEditClientClaimModel
<form asp-action="CreateClaim">
    <partial name="_CreateOrUpdate.Claim.Info" model = "Model" />
</form>