@model MicroStore.IdentityProvider.IdentityServer.Web.Areas.BackEnd.Models.Clients.ClientListViewModel
@{
    ViewData["Title"] = "Clients / Backend";
    UIMenuNavigationManager.SetCurrentMenu(IdentityServerMenuStandard.ClientMenu.Index);
}
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <abp-row class="mb-2">
                <abp-column size-sm="_6">
                    <h1 class="m-0">Clients</h1>
                </abp-column>
                <abp-column size-sm="_6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <a asp-action="Create" class="btn btn-info">
                                <i class="fas fa-plus-square mr-1"></i>
                                Create Client 
                            </a>
                        </li>
                    </ol>
                </abp-column>
            </abp-row>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <partial name="_Client.AdvacnedSearch" model="Model" />
            <abp-card>
                <abp-card-body>
                    <abp-table id="ClientTable"></abp-table>
                </abp-card-body>
            </abp-card>
            
        </div>
    </section>
</div>

@section Scripts{
   <script src="~/backend/js/client/index.js"></script>
}