@using MicroStore.Client.PublicWeb.Areas.Administration.Models.Ordering
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@model CompleteOrderModel
<form asp-action="CompleteOrder" asp-controller="Order">
    <abp-modal>
        <abp-modal-header title="Complete Order"></abp-modal-header>
        <abp-modal-body>
            <abp-input type="hidden" asp-for="Id"></abp-input>
            <abp-input asp-for="Notes"></abp-input>

        </abp-modal-body>
        <abp-modal-footer buttons="@AbpModalButtons.Save | @AbpModalButtons.Cancel">
        </abp-modal-footer>
    </abp-modal>
</form>