@using MicroStore.Client.PublicWeb.Areas.Administration.Navigation
@using MicroStore.ShoppingGateway.ClinetSdk.Entities.Orderes;
@using MicroStore.ShoppingGateway.ClinetSdk.Entities.Shipping;
@using System.Globalization
@using Microsoft.Extensions.Localization
@model MicroStore.Client.PublicWeb.Areas.Administration.Models.Ordering.OrderAggregateVM
@{
    UIMenuNavigationManager.SetCurrentMenu(BackEndMenusStandard.OrderMenus.View);
}
<div>
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">
                        View order details -  @Model.OrderNumber
                    </h1>
                    <input type="hidden" value="@Model.Id" id="Id" />

                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">

                        @if (Model.CurrentState == OrderState.Approved)
                        {
                            <li class="breadcrumb-item">

                                <form asp-action="CreateOrderShipment" method="post">

                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="OrderId" value="@Model.Id">
                                    <button class="btn btn-info" type="submit">
                                        <i class="fas fa-plus-square mr-1"></i>
                                        Create Order Shipment
                                    </button>
                                </form>
                            </li>
                        }
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container-fluid">

            <div class="cards clearfix">
                <partial name="_Order.Info" model="Model" />

                <partial name="_Order.Addresses" model="Model" />

                <partial name="Grids/_Grids.OrderItems" model=" Model" />

                <partial name="_Order.Payment" model=" Model" />

                <partial name="_Order.Shipment" model=" Model" />
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            var orderId = $("#Id").val();

            var cancelOrderModal = new abp.ModalManager({
                viewUrl: "/Administration/Order/CancelOrderModal"
            })

            var completeOrderModal = new abp.ModalManager({
                viewUrl: "/Administration/Order/CompleteOrderModal"
            })

            $("#cancelOrderButton").click(function () {
                cancelOrderModal.open({
                    id: orderId
                })
            })

            $("#completeOrderButton").click(function () {
                completeOrderModal.open({
                    id: orderId
                })
            })

            cancelOrderModal.onResult(function () {
                location.reload()
            })

            completeOrderModal.onResult(function () {
                location.reload()
            })
        })
    </script>
}


