@using MicroStore.Client.PublicWeb.Areas.Administration.Navigation
@using MicroStore.ShoppingGateway.ClinetSdk.Entities.Orderes;
@model MicroStore.Client.PublicWeb.Areas.Administration.Models.Ordering.OrderSearchModel
@{
    UIMenuNavigationManager.SetCurrentMenu(BackEndMenusStandard.OrderMenus.Index);

}
<div>
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <h1 class="m-0">Orders</h1>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">

            <partial name="_Order.AdvancedSearch" model="Model" />

            <partial name="Grids/_Grid.Orders" model="Model" />
        </div>
    </section>
</div>
@section Scripts{
    <script>
        $(document).ready(function(){
            var orderTable = $("#OrderTable").DataTable(
                abp.libs.datatables.normalizeConfiguration({
                    ajax: {
                        type: "POST",
                        data: function (data) {
                            data.startSubmissionDate = $("#@Html.IdFor(x=> x.StartSubmissionDate)").val();
                            data.endSubmissionDate = $("#@Html.IdFor(x=> x.EndSubmissionDate)").val();
                            data.orderNumber = $("#@Html.IdFor(x=> x.OrderNumber)").val();
                            data.states = $("#@Html.IdFor(x=> x.States)").val();
                        }
                    },
                    paging: true,
                    serverSide: true,
                    processing : true,
                    searching: false,
                    columnDefs: [
                        {
                            title: "@Html.NameFor(x=> x.OrderNumber)",
                            data: "orderNumber",
                            orderable: false
                        },

                        {
                            title: "@Html.NameFor(x=> x.OrderNumber)",
                            data: "currentState",
                            orderable: false
                        },
                        {
                            title: "Total Price",
                            data: "totalPrice",
                            orderable: false
                        },
                        {
                            title: "Actions",
                            render: function (data, type, row) {
                                return `<a href="Order/Details/${row.id}" class="btn btn-info"> View</a>`
                            },
                            orderable: false
                        }
                    ],
                })
            )

            $("#States").select2({
                placeholder: 'select order states'
            })


            $("#AdvancedSearchForm").on('submit', function (evt) {
                evt.preventDefault();
                console.log($("#States").val())
                orderTable.ajax.reload();
            });

        })
    </script>
}