@using MicroStore.Client.PublicWeb.Areas.Administration.Navigation
@model MicroStore.Client.PublicWeb.Areas.Administration.Models.Ordering.OrderListModel
@{
    UIMenuNavigationManager.SetCurrentMenu(BackEndMenusStandard.OrderMenus.Index);

}
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <h1 class="m-0">Orders</h1>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <partial name="Grids/_Grid.Orders" model="Model" />
        </div>
    </section>
</div>
@section Scripts{
    <script src="~/js/BackEnd/Order/index.js"></script>
}