@using MicroStore.Client.PublicWeb.Areas.Administration.Navigation
@using MicroStore.ShoppingGateway.ClinetSdk.Common;
@model MicroStore.Client.PublicWeb.Areas.Administration.Models.Catalog.Products.ProductModel

@{
    UIMenuNavigationManager.SetCurrentMenu(BackEndMenusStandard.Product.Create);
}

<div>
    <form method="post" asp-action="Create" >
        @Html.AntiForgeryToken()   
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">
                            Create product 
                        </h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item">
                                <button class="btn btn-info" type="submit">
                                    <i class='fas fa-save mr-1'></i>
                                    Save                               
                                </button>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-danger">
            @Html.ValidationSummary()
        </div>
        <div class="content">
            <div class="container-fluid">

                <partial name="_CreateOrUpdate.Info" model="Model" />
                <partial name="_CreateOrUpdate.Price"  model="Model" />
                <partial name="_CreateOrUpdate.Shipping" model="Model" />
                <partial name="_CreateOrUpdate.Inventory" model="Model" />

            </div>
        </div>
    </form>

</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('.summernote').summernote({
                height: 150,
                name: 'Model.LongDescription',
                codemirror: { // codemirror options
                    theme: 'monokai'
                }
            });

            $("#CategorySelect").select2({
                placeholder: 'select product categories'
            });


            $("#ManufacturerSelect").select2({
                placeholder: 'select product manufacturer'
            });
        });
    </script>
}