@using MicroStore.Client.PublicWeb.Areas.Administration.Navigation
@using MicroStore.ShoppingGateway.ClinetSdk.Common;
@using MicroStore.Client.PublicWeb.Areas.Administration.Models.Catalog.Products
@model ProductModel

@{
    UIMenuNavigationManager.SetCurrentMenu(BackEndMenusStandard.ProductMenus.Edit);

    var product = ViewBag.Product;

    var updateProductImageModel = new UpdateProductImageModel();

    var deleteProductImageModel = new RemoveProductImageModel();
}
<div>
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">
                        Edit product details - @Model.Name
                    </h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <button class="btn btn-info" id="SubmitProductForm">
                                <i class="fas fa-plus-square mr-1"></i>
                                Save
                            </button>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="container-fluid">
            <form id="EditProductForm" method="post" asp-action="Edit">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(x=> x.Id)
                <partial name="_CreateOrUpdate.Info" model="Model" />
                <partial name="_CreateOrUpdate.Price" model="Model" />
                <partial name="_CreateOrUpdate.Shipping" model="Model" />

            </form>

            <abp-card>
                <abp-card-header>
                    <abp-card-title class="text-lg"> <i class="fas fa-info mr-1 text-lightblue"></i> Multi Media</abp-card-title>
                     <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus text-lg"></i></button>
                    </div>
                </abp-card-header>
                <abp-card-body>
                     <abp-table id="ProductImagesTable"></abp-table>
                </abp-card-body>
                <abp-card-footer>
                      <a href="#" class="btn btn-info" id="CreateProductImageButton">Add New Product Image</a>
                </abp-card-footer>
            </abp-card>
        </div>
    </div>
</div>

@section Scripts{

    <script src="~/js/BackEnd/Product/edit.js"></script>
}

