 @using MicroStore.Client.PublicWeb.Areas.Administration.Navigation
@model MicroStore.Client.PublicWeb.Areas.Administration.Models.Catalog.Products.ProductSearchModel

@{
    UIMenuNavigationManager.SetCurrentMenu(BackEndMenusStandard.ProductMenus.Index);
}


<div>
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Products</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <a asp-action="Create" class="btn btn-info">
                                <i class="fas fa-plus-square mr-1"></i>Create Product
                            </a>

                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <partial name="_Product.AdvancedSearch" model="Model" />
            <abp-card>
                <abp-card-body>
                     <abp-table striped-rows="true" id="ProductsTable"></abp-table>
                </abp-card-body>
            </abp-card>
        </div>
    </section>
</div>

@section Scripts{
<script src="~/js/BackEnd/Product/index.js"></script>
}
