@model MicroStore.Client.PublicWeb.Areas.Administration.Models.Catalog.Products.ProductListModel
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Dashboard v3</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <a asp-action="Create" class="btn btn-info">
                                <i class="fas fa-plus-square mr-1"></i>Create Product
                            </a>

                        </li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <section class="content">
        <div class="container-fluid">
            @{
                await Html.RenderPartialAsync("Grids/_Grids.Products", Model);
            }
        </div>
    </section>
</div>
@section Scripts{
        <script>
        $(document).ready(function () {
            $('#product-grid').DataTable({
                ajax: {
                    type: "post"
                },
                type: "POST",
                processing: true,
                serverSide: true,
                filter: true,

                columns: [
                    { data: "name", name: '@(Html.DisplayNameFor(x => x.Data.FirstOrDefault().Name))' },
                    { data: "sku", name: '@(Html.DisplayNameFor(x => x.Data.FirstOrDefault().Sku))' },
                    { data: "price", name: '@(Html.DisplayNameFor(x => x.Data.FirstOrDefault().Price))' },
                    {
                        mRender: function (data, type, row) {
                            return `<a  href="Product/Edit/${row.id}" asp-rout-id="${row.id}" class="btn btn-info" >Edit</a>`
                        }
                    }
                ],
            })
        });
    </script>
}
