 @using MicroStore.Client.PublicWeb.Areas.Administration.Navigation
@model MicroStore.Client.PublicWeb.Areas.Administration.Models.Catalog.Products.ProductSearchModel

@{
    UIMenuNavigationManager.SetCurrentMenu(BackEndMenusStandard.Product.Index);
}


<div>
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Products</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <a asp-action="Create" class="btn btn-info">
                                <i class="fas fa-plus-square mr-2"></i>Create Product
                            </a>

                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <partial name="_Product.AdvancedSearch" model="Model" />
            <abp-card>
                <abp-card-body>
                     <abp-table striped-rows="true" id="ProductsTable"></abp-table>
                </abp-card-body>
            </abp-card>
        </div>
    </section>
</div>

@section Scripts{
  <script>
        $(document).ready(function () {
            var table = $("#ProductsTable").DataTable(
                abp.libs.datatables.normalizeConfiguration({
                    ajax: {
                        type: "POST",
                        data: function (data) {
                            data.name = $("#Name").val();
                            data.category = $("#Category").val();
                            data.manufacturer = $("Manufacturer").val();
                            data.tag = $("#Tag").val();
                            data.minPrice = $("#MinPrice").val();
                            data.maxPrice = $("#MaxPrice").val();
                        }
                    },
                    processing: true,
                    paging: true,
                    serverSide: true,
                    searching: false,
                    ordering: false,
                    columnDefs: [
                        {
                            title: "Image",
                            data: "productImages",
                            render: function (data) {
                                if (data ){

                                    if (data.length > 0) {
                                        var image = data[0].image
                                        return `<img src="${image}" class="img" style="maxwidth:75px;max-height:75px">`
                                    }
                                }
                                return `<img src="/user-content/no-image.png" style="maxwidth:75px;max-height:75px">`
                                
                            }
                        },
                        {
                            title: 'Name',
                            data: 'name',

                        },
                        {
                            title: 'Sku',
                            data: 'sku',

                        },
                        {
                            title: 'Price',
                            data: 'price',
                            render: function (data, type, row) {
                                var priceFormat = new Intl.NumberFormat('en-US', {
                                    style: 'currency',
                                    currency: 'USD',
                                })

                                return priceFormat.format(row.price)
                            },
                        },
                        {
                            title: 'Actions',
                            rowAction: {
                                items:
                                    [{
                                        text: 'Edit',
                                        action: function (data) {
                                            window.location.href = `Product/Edit/${data.record.id}`
                                        }
                                    },
                                    {
                                        text: 'Report',
                                        action: function (data) {
                                            window.location.href = `Product/SalesReport/${data.record.id}`
                                        }
                                    }
                                    ]
                            },
                        },
                    ]
                })

            );


            $("#AdvancedSearchForm").on('submit', function (evt) {
                evt.preventDefault();
                table.ajax.reload();
            });

            $("#Category").select2({
                placeholder: "Please select category",
            })

            $("#Manufacturer").select2({
                placeholder: "Please select manufacturer",
            })

        });

  </script>
}
