@page
@model MicroStore.Client.PublicWeb.Pages.Payment.CompleteModel
@{
}

<section class="section-b-space ">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Payment Failed</h2>
                <h3 class="mt-3">@Model.Error</h3>
            </div>
        </div>
    </div>
</section>
