@using MicroStore.AspNetCore.UI.Extensions
@using MicroStore.Client.PublicWeb.Areas.Administration.Components.ProfileWidget
@model MicroStore.AspNetCore.UI.HtmlHelpers.TreeViewRoot
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a asp-action="Index" asp-controller="Dashboard" class="brand-link">
        <img src="https://adminlte.io/themes/v3/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Micro store</span>
    </a>
    <div class="sidebar">
      
        @await Component.InvokeAsync(typeof(ProfileWidgetViewComponent))
        <nav class="mt-2">

            @(Html.CreateMenutItems(Model)
                .RootHtmlAttributes(root=> new {@class="nav nav-pills nav-sidebar flex-column", data_widget="treeview", role="menu"})
                .NodeHtmlAttributes(item=>
                {
                    bool isActive = item.ContainsName(UIMenuNavigationManager.GetCurrentMenu());

                    string liClasses = $"nav-item";

                    if(item.HasChildren)
                    {
                        liClasses += " has-treeview";
                    }

                    if(isActive)
                    {
                        liClasses += " menu-open";
                    }

                    return new {@class = liClasses};

                }).AnchorHtmlAttributes(item=>
                {
                      bool isActive = item.ContainsName(UIMenuNavigationManager.GetCurrentMenu());

                      string anchorClasses = "nav-link";

                      if(isActive){
                          anchorClasses += " active";
                      }

                      return new {@class=anchorClasses};
                })
                .NestedListHtmlAttributes(_=> new {@class="nav nav-treeview"})
                .ParagrahpHtmlAttributes (item=> new {@data_target_paragraph = item.Name})
                .Build()
            )

        </nav>
    </div>
</aside>