@model MicroStore.IdentityProvider.Host.Areas.BackEnd.Models.ApiResources.ApiResourceUIModel
@inject MicroStore.IdentityProvider.IdentityServer.Application.ApiScopes.IApiScopeQueryService ApiScopeQueryService
@{
    var result = await ApiScopeQueryService.ListAsync();

    if (result.IsFailure)
    {
        throw new InvalidOperationException(result.Exception.Message);
    }
    if(result.Value == null)
    {
        throw new InvalidOperationException();
    }

    var scopeListItem = result.Value.Select(x => new SelectListItem
            {
                Text = x.Name,
                Value = x.Name,
                Selected = Model.Scopes?.Contains(x.Name) ?? false
            }).ToList();
}


<div class="card h-100">
    <div class="card-header">
        <p class="card-title text-lg "><i class="fas fa-info mr-1 text-lightblue"></i>Api Resource Scopes</p>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus text-lg"></i></button>
        </div>
    </div>
    <div class="card-body ">
         <div class="form-group row mb-3"> 
            <div class="col-md-12">
                <select class="form-control" id="ScopeSelect" multiple asp-for="@Model.Scopes" asp-items="scopeListItem"></select>
                <span class="text-danger" asp-validation-for="@Model.Scopes">
                </span>
            </div>
        </div>  
    </div>
</div>