@using MicroStore.Client.PublicWeb.Areas.Administration.Navigation
@model MicroStore.Client.PublicWeb.Areas.Administration.Models.Catalog.Categories.CategorySearchModel

@{
    UIMenuNavigationManager.SetCurrentMenu(BackEndMenusStandard.CategoryMenus.Index);

}
<div>
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Categories</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <a asp-action="Create" class="btn btn-info">
                                <i class="fas fa-plus-square mr-1"></i>
                                Create Category
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <partial name="_Category.AdvancedSearch" model="Model" />
            <abp-card>
                <abp-card-body>
                    <abp-table id="CategoriesTable"></abp-table>
                </abp-card-body>
            </abp-card>
        </div>
    </section>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            var categoryTable = $("#CategoriesTable").DataTable(
                abp.libs.datatables.normalizeConfiguration({
                    paging: true,
                    processing: true,
                    searching: false,
                    scrollX: true,
                    ajax: {
                        type: "POST",
                        data: function (data) {
                            data.name = $("#Name").val();
                        },
                    },
                    columnDefs: [

                        {
                            title: "Name",
                            data: "name",
                        },
                        {
                            title: "Description",
                            data: "description",
                            orderable: false,
                        },
                        {
                            orderable: false,
                            title: "Action",
                            render: function (data, type, row) {
                                return `<a href="Category/Edit/${row.id}" class="btn btn-info">Edit</a>`
                            }
                        }
                    ]
                })
            )

            $("#AdvancedSearchForm").on('submit', function (evt) {
                evt.preventDefault();
                console.log("posting")
                categoryTable.ajax.reload();
            });
        })
    </script>
}
