@using MicroStore.Client.PublicWeb.Areas.Administration.Navigation
@model MicroStore.Client.PublicWeb.Areas.Administration.Models.Catalog.Categories.CategorySearchModel

@{
    UIMenuNavigationManager.SetCurrentMenu(BackEndMenusStandard.CategoryMenus.Index);

}
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Dashboard v3</h1>
                </div>
                    <h1 class="m-0">Categories</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <a asp-action="Create" class="btn btn-info">
                                <i class="fas fa-plus-square mr-1"></i>
                                Create Category
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <partial name="_Category.AdvancedSearch" model="Model" />
            <abp-card>
                <abp-card-body>
                    <abp-table id="CategoriesTable"></abp-table>
                </abp-card-body>
            </abp-card>
        </div>
    </section>
</div>

@section Scripts{
    <script src="~/js/BackEnd/Category/index.js"></script>
}
