<abp-card>
    <abp-card-header>
        <abp-card-title class="text-lg"><p> <i class="fas fa-info mr-1 text-lightblue"></i> Property </p></abp-card-title>
         <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus text-lg"></i></button>
        </div>
    </abp-card-header>
    <abp-card-body>
        <abp-table id="PropertiesTable" striped-rows="true"></abp-table>
    </abp-card-body>
    <abp-card-footer>
        <abp-button button-type="Info" id="CreatePropertyButton">Add New Property</abp-button>
    </abp-card-footer>
</abp-card>