@using MicroStore.Client.PublicWeb.Areas.Administration.Navigation
@model MicroStore.Client.PublicWeb.Areas.Administration.Models.Billing.PaymentRequestVM

@{
    UIMenuNavigationManager.SetCurrentMenu(BackEndMenusStandard.PaymentRequestMenus.View);
}
<div>
    <div class="content-header clearfix p-3">
        <div class=" float-left">
            <h6 class="text-xl">View payment request details - @Model.Id</h6>
        </div>
    </div>
    <div class="content">
        <div class="container-fluid">
            <div class="cards clearfix">     
                <partial name="_PaymentRequest.Info" model="Model" />
                <partial name="Grids/_Grids.PaymentRequestProducts" model="Model" />

            </div>
        </div>
    </div>
</div>

