@using MicroStore.Client.PublicWeb.Areas.Administration.Navigation
@model MicroStore.Client.PublicWeb.Areas.Administration.Models.Billing.PaymentRequestListModel
@{
    UIMenuNavigationManager.SetCurrentMenu(BackEndMenusStandard.PaymentRequestMenus.Index);

}
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <h1 class="m-0">Payments</h1>
                </div>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <abp-card>
                <abp-card-body>
                    <abp-table id="PaymentRequestsTable"></abp-table>
                </abp-card-body>
            </abp-card>
        </div>
    </section>
</div>


@section Scripts{
    <script src="~/js/BackEnd/PaymentRequest/index.js"></script>

}