@model MicroStore.IdentityProvider.Identity.Application.Models.UserModel
<div class="card">
    <div class="card-header">
        <p class="card-title text-lg "><i class="fas fa-info mr-1 text-lightblue"></i>User Password</p>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus text-lg"></i></button>
        </div>
    </div>
    <div class="card-body">
        <div class="form-group row mb-3">
            <div class="col-sm-3">
                <div class="float-sm-left float-md-right">
                  <micro-label asp-for="@Model.Password"></micro-label>
                </div>

            </div>
            <div class="col-sm-8">
                <input asp-for="@Model.Password" id="name" class="form-control" />

                <span class="text-danger" asp-validation-for="@Model.Password">
                </span>
            </div>
        </div>   
    </div>
</div>