@model MicroStore.IdentityProvider.Identity.Application.Models.UserModel
@{
    var rolesSelectedList = ViewBag.Roles as List<SelectListItem>;
}
<abp-card>
    <abp-card-header>
        <abp-card-title>
            <i class="fas fa-info mr-1 text-lightblue"></i> User Roles
        </abp-card-title>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus text-lg"></i></button>
        </div>
    </abp-card-header>
    <abp-card-body>
        <abp-row class="form-group mb-3">
            <abp-column size="_12">
                <select class="form-control" id="RoleSelect" multiple asp-for="@Model.UserRoles" asp-items="rolesSelectedList"></select>
                <span class="text-danger" asp-validation-for="@Model.UserRoles"> </span>
            </abp-column>
        </abp-row>
    </abp-card-body>
</abp-card>

