@using MicroStore.Client.PublicWeb.Areas.Administration.Navigation
@model MicroStore.Client.PublicWeb.Areas.Administration.Models.Inventory.InventoryItemListModel

@{
    UIMenuNavigationManager.SetCurrentMenu(BackEndMenusStandard.Inventory.InventoryItem.Index);
}



<div>
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <h1 class="m-0">Orders</h1>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <partial name="Grids/_Grids.InventoryItems" model="Model" />
        </div>
    </section>
</div>



@section Scripts{

<script>
    $(document).ready(function(){

            var table = $("#invetoryitems-grid").DataTable(
                abp.libs.datatables.normalizeConfiguration({
                    ajax: {
                        type: "POST",
                    },
                    processing: true,
                    paging: true,
                    serverSide: true,
                    searching: false,
                    ordering: false,
                    columnDefs: [
                        {
                            title: "Image",
                            data: "productImages",
                            render: function (data) {
                                if (data) {

                                    if (data.length > 0) {
                                        var image = data[0].image
                                        return `<img src="${image}" class="img" style="maxwidth:75px;max-height:75px">`
                                    }
                                }
                                return `<img src="/user-content/no-image.png" style="maxwidth:75px;max-height:75px">`

                            },
                            orderable: false
                        },
                        {
                            title: 'Name',
                            data: 'name',
                        },
                        {
                            title: 'Sku',
                            data: 'sku',

                        },
                        {
                            title: 'Stock',
                            data: 'stock',
                        },
                        {
                            title: 'Actions',
                            rowAction: {
                                items:
                                    [{
                                        text: 'Edit',
                                        action: function (data) {
                                            window.location.href = `InventoryItem/Edit/${data.record.id}`
                                        }
                                    }]
                                    
                            },
                        },
                    ]
                })
            )

    })
</script>
}