<div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="product-list-item" data-product-id="3a044b27-9c17-6966-9652-748403ee6f6d">
            <a href="/products/3a044b27-9c17-6966-9652-748403ee6f6d">
                <div class="col">
                    <div class="product-info-box">
                        <h6>Nikon AF-S 50mm f/1.8 G Lens</h6>
                        <em class="d-block text-muted">ABP23849 - Stock Count: 0</em>
                    </div>
                </div>
                <img src="https://gateway-public.eshoponabp.com/product-images/nikon.jpg">
            </a>
            <div class="row mt-5 ">
                <button class="add-basket-button btn btn-warning w-100" disabled="disabled"
                        type="button" data-busy-text="Processing...">
                    <span>Out of Stock</span>
                </button>
                <div class="info-section col" style="text-align: center">
                    <span class="product-price">$1,499.00</span>
                </div>
            </div>
        </div>
    </div>
</div>