<abp-card>
    <abp-card-header>
        <abp-card-title class="text-lg"><i class="fas fa-info mr-1 text-lightblue"></i>Secrets</abp-card-title>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus text-lg"></i></button>
        </div>
    </abp-card-header>
    <abp-card-body>
        <abp-table striped-rows="true" id="SecretTable"></abp-table>
    </abp-card-body>
    <abp-card-footer>
        <apb-button class="btn btn-info" id="AddSecretButton">Add New Secret</apb-button>
    </abp-card-footer>
</abp-card>