@model MicroStore.Client.PublicWeb.Areas.Administration.Models.Catalog.Products.ProductListModel
<div class="card card-default">
    <div class="card-body">
        <table id="product-grid" class="table table-hover table-striped  dataTable no-footer" width="100%">
            <thead>
                <tr>

                    <th>@Html.DisplayNameFor(x=> x.Data.FirstOrDefault().Name)</th>
                    <th>@Html.DisplayNameFor(x=> x.Data.FirstOrDefault().Sku)</th>
                    <th>@Html.DisplayNameFor(x=> x.Data.FirstOrDefault().Price)</th>
                    <th></th>
                </tr>
            </thead>

        </table>
    </div>
</div>
