@model MicroStore.Client.PublicWeb.Areas.Administration.Models.Catalog.Products.ProductVM
<table id="productimages-grid" class="table table-striped dataTable no-footer mt-3">
    <thead>
        <tr>
            <th>image</th>
            <th>@Html.NameFor(x=> x.ProductImages.First().DisplayOrder)</th>
            <th></th>
            <th></th>
        </tr>

    </thead>
</table>